services:
  client:
    build:
      context: ./client
  restart: unless-stopped
  ports:
    - "80:80"
  depends_on:
    - server
  env_file:
    - .env

  server:
    build:
      context: ./server
    restart: unless-stopped
    expose:
      - 3000
    depends_on:
      - database
    env_file:
      - .env

  database:
    image: postgres
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - database:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"

volumes:
  database:
